<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="matchMapper">

	<resultMap type="matchApplication" id="matchAppResultMap">
		<result column="APPLY_NO" 		property="applyNo"/>
		<result column="HOME_TEAM" 		property="homeTeam"/>
		<result column="AWAY_TEAM" 		property="awayTeam"/>
		<result column="OPPONENT_NAME" 	property="opponentName"/>
		<result column="FIELD_NO" 		property="fieldNo"/>
		<result column="FIELD_NAME" 	property="fieldName"/>
		<result column="MATCH_DATE" 	property="matchDate"/>
		<result column="MATCH_TIME" 	property="matchTime"/>
		<result column="APPLY_INFO" 	property="applyInfo"/>
		<result column="APPLY_CONTENT" 	property="applyContent"/>
		<result column="APPLY_DATE" 	property="applyDate"/>
		<result column="STATUS" 		property="status"/>
	</resultMap>
				
	<insert id="applyMatch" parameterType="matchApplication">
		INSERT INTO MATCH_APPLICATION
		(APPLY_NO, 
		 HOME_TEAM, 
		 AWAY_TEAM, 
		 MEMBER_NO, 
		 FIELD_NO, 
		 APPLY_NAME, 
		 APPLY_PHONE, 
		 APPLY_CONTENT, 
		 MATCH_TIME, 
		 MATCH_DATE)
		VALUES
		(SEQ_MANO.NEXTVAL, 
		 #{homeTeam}, 
		 #{awayTeam}, 
		 #{memberNo}, 
		 #{fieldNo}, 
		 #{applyName}, 
		 #{applyPhone}, 
		 #{applyContent}, 
		 #{matchTime}, 
		 TO_DATE(#{matchDate}, 'YYYY-MM-DD HH24:MI'))
	</insert>
	
	<select id="getRecievedApplications" parameterType="_int" resultMap="matchAppResultMap">
		SELECT
		       APPLY_NO,
		       HOME_TEAM,
		       TEAM_NAME AS OPPONENT_NAME,
		       FIELD_NO,
		       FIELD_NAME,
		       TO_CHAR(MATCH_DATE, 'YYYY-MM-DD HH24:MI') AS "MATCH_DATE",
		       MATCH_TIME || '분' AS "MATCH_TIME",
		       NICKNAME || ' | ' || APPLY_NAME || CHR(13) || CHR(10) || APPLY_PHONE AS "APPLY_INFO",
		       APPLY_CONTENT,
		       TO_CHAR(APPLY_DATE, 'YYYY-MM-DD') AS APPLY_DATE
		  FROM
		       MATCH_APPLICATION MA
		  JOIN
		       MEMBER USING(MEMBER_NO)
		  JOIN
		       FIELD USING(FIELD_NO)
		  JOIN 
		       TEAM ON(TEAM.TEAM_NO = HOME_TEAM)
		 WHERE
		       AWAY_TEAM = #{teamNo}
		   AND
		       MA.STATUS = 'Y'
	</select>
	
	<select id="getSentApplications" parameterType="_int" resultMap="matchAppResultMap">
		SELECT
		       APPLY_NO,
		       AWAY_TEAM,
		       TEAM_NAME AS OPPONENT_NAME,
		       FIELD_NO,
		       FIELD_NAME,
		       TO_CHAR(MATCH_DATE, 'YYYY-MM-DD HH24:MI') AS "MATCH_DATE",
		       MATCH_TIME || '분' AS "MATCH_TIME",
		       NICKNAME || ' | ' || APPLY_NAME || CHR(13) || CHR(10) || APPLY_PHONE AS "APPLY_INFO",
		       APPLY_CONTENT,
		       TO_CHAR(APPLY_DATE, 'YYYY-MM-DD') AS APPLY_DATE,
		       MA.STATUS
		  FROM
		       MATCH_APPLICATION MA
		  JOIN
		       MEMBER USING(MEMBER_NO)
		  JOIN
		       FIELD USING(FIELD_NO)
		  JOIN 
		       TEAM ON(TEAM.TEAM_NO = AWAY_TEAM)
		 WHERE
		       HOME_TEAM = #{teamNo}
	</select>

</mapper>