<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="teamMapper">
	
	<select id="countTeams" resultType="_int">
		SELECT
		       COUNT(*)
 		  FROM
		       TEAM
		 WHERE
		       STATUS = 'Y'
	</select>
 	
 	
	<select id="selectTeams" parameterType="city" resultType="team">
		SELECT 
		       teamRank,
		       teamNo,
		       teamType,
		       location,
		       teamSkill,
		       avgAge,
		       teamRecord
		  FROM
		       (SELECT
		               DENSE_RANK() OVER(ORDER BY WIN DESC, DRAW DESC, LOSE, TEAM_SKILL) AS teamRank,
				       TEAM_NO AS teamNo,
				       TEAM_NAME AS teamName,
				       TEAM_TYPE AS teamType,
				       LOCATION AS location,
				       TEAM_SKILL AS teamSkill,
				       AVG_AGE AS avgAge,
				       WIN || '승 ' || DRAW || '무 ' || LOSE || '패' AS teamRecord
		          FROM
		               TEAM
		
		         ORDER 
		            BY
		               WIN DESC, DRAW DESC, LOSE, TEAM_SKILL)
		 <choose>
		 
		 <when test="city.sido != 'all' and city.sigungu != 'all'">
		 WHERE
		 	   location = '#{sido + " " + sigungu}'
		 </when>
		 <when test="city.sido != 'all' and city.sigungu == 'all'">
		 WHERE
		       location LIKE '%' || #{sido} || '%'
		 </when>
		 </choose>
	</select>
	
</mapper>